<div class="row">
<div class="span6 offset3">
<%= form_for(@radcheck) do |f| %>
  <% if @radcheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radcheck.errors.count, "error") %> prohibited this radcheck from being saved:</h2>

      <ul>
      <% @radcheck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :username %>
    <%= f.text_field :username %>
  
  
    <%= f.label :attr %>
    <%= f.text_field :attr %>
    

    <%= f.label :value %>
    <%= f.text_field :value %>
    
    </br>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-large btn-primary"%>
  </div>
<% end %>
</div>
