<h2>Radius Logins</h2>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <!--<th>Password</th>-->
      <th>Auth status</th>
      <th>Login time</th>
      <th>NAS IP Address</th>
      <th>NAS Port</th>
    </tr>
  </thead>

  <tbody>
    <% @radpostauths.each do |radpostauth| %>
      <tr>
        <td><%= radpostauth.username %></td>
        <!--<th><%= radpostauth.pass %></th>-->
        <td><%= radpostauth.reply %></td>
        <td><%= radpostauth.authdate %></td>
        <td><%= radpostauth.nasip %></td>
        <td><%= radpostauth.nasport %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @radpostauths %>
<br><br><br>
